# Cada día a las 4 AM ejecutar un comando artisan
0 4 * * * www-data /usr/local/bin/php /var/www/html/artisan freetrealcommand >> /var/www/html/storage/logs/freetrealcommand.log 2>&1

# Ejemplo otro cron cada hora
0 * * * * www-data /usr/local/bin/php /var/www/html/artisan send-post-stay-emails >> /var/www/html/storage/logs/send-post-stay-emails.log 2>&1
